.Viewer2D {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 800px;

  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -ms-transition: -ms-transform 0.2s linear;
  transition: transform 0.2s linear;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.Viewer2D__video {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 800px;
  z-index: 1;
}

.Viewer2D_tiltBar {
  position: fixed;
  bottom: 30px;
  left: 10px;
  right: 10px;
  height: 1px;
  z-index: 1;
  background-color: rgba(255,255,255,0.3);
}

.Viewer2D_tiltIndicator {
  background-color: rgba(255,255,255,0.8);
  height: 1px;
  position: absolute;
}