.Viewer3D__scene {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.Viewer3D__text {
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.Viewer3D__canvas {
  position: absolute;
  width: 90%;
  height: 90%;
  min-width: 800px;
  min-height: 600px;
}